<% content_for(:title, "Project | Personal Portfolio") %>

<%= render 'layouts/errors', :object => @project %>

<div class='form-container'>
  <div class='form-group'>
    <%= form_for @project do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
    <%= f.submit %>
    <% end %>
  </div>
<p><%= link_to "Return to Projects", projects_path %></p>
</div>
