<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
</head>
<body>
  <h1>AUDRIE TALBOT | PORTFOLIO</h1>

  <p>My name is Audrie. Welcome to my portfolio.</p>

  <%= flash[:alert] %>
  <%= flash[:notice] %>

  <%= yield %>

</body>
</html>
